@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #5c3ca8;
  --light-purple: #9c84cc;
}

@layer utilities {
  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5;
  }
}

input[type='radio'] {
  border: none !important;
  outline: none;
}
